#lab1,#lab2, #lab3{
  display: none;
}
ul{
  list-style: none;
}
button{
  margin: 1px;
  border-radius: 5px;
}
#buttons{
  padding-top: 15px;
  padding-left: 325px;
}
#menu{
  position: fixed;
  left: 0 ;
  top: 0;
  background-color: red;
  width: 325px;
  height: 500px;
}

li button:hover{
  color: green;
}

.lab{
  padding-left: 325px;
}

/*table{
  background-color: black;
}
*/
#menu_droite{
  position: fixed;
  left: 650px;
  top: 0px;
  background-color: orange;
  height: 500px;
  width: 50%;
}

#title_methode{
  font-size: 20pt;
}

#alea_dir_b{
  margin-top: 10px;
}

#menu_droite img{
  width : 50%;
  height: 50%;
}

/*table img{
  transform: rotate(0.5turn);
}*/